[submodule "excalidraw"]
    path = ./excalidraw
    url = https://github.com/maddymontaquila/excalidraw.git
[submodule "excalidraw-room"]
    path = ./excalidraw-room
    url = https://github.com/maddymontaquila/excalidraw-room.git